

<h1 class="text-center">XML за Pazaruvaj.com</h1>
<div class="text-center">
    <a class="btn btn-danger" asp-area="Admin" asp-controller="ExportXml" asp-action="ExportToXml">Export XML</a>
    <a class="btn btn-danger" asp-area="Admin" asp-controller="ExportXml" asp-action="ExportToLinqToXml">Export with Linq XML</a>
</div>