@using IzgodnoKupi.Web.Models.RoleViewModels

@model RoleViewModel

<h4 class="text-danger">Изтриване на Роля @Model.RoleName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteRole">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Изтрий" class="btn btn-danger" />
                <a class="btn btn-primary" asp-action="Index">Към списъка</a>
            </div>
        </form>
    </div>
</div>