<div class="container">
    <div class="check-sec">
        <div class="col-md-12 cart-items">
            <h2 class="text-center oder-complete-header">Вашата поръчка е направена успешно!</h2>
            </br>
            <h3 class="text-center oder-complete-text">Наш служител ще се свърже с вас за потвърждение на поръчката.</h3>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>