<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Изгодно Купи</title>

    <environment include="Development">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/lightingTheme/flexslider.css" />
        <link rel="stylesheet" href="~/css/lightingTheme/form.css" />
        <link rel="stylesheet" href="~/css/lightingTheme/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/lightingTheme/memenu.css" />
        <link rel="stylesheet" href="~/css/lightingTheme/style.css" />
        <link rel="stylesheet" href="~/css/modal/animate.css" type="text/css" />
        <link rel="stylesheet" href="~/css/modal/rmodal.css" type="text/css" />
        <link rel="stylesheet" href="~/css/errorPage/errorPage.css" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
        @await Html.PartialAsync("_GoogleAnalytics")
    </environment>
</head>
<body>
    <div class="header-top">
        <div class="header-bottom">
            <div class="logo">
                <h1><a asp-area="" asp-controller="Home" asp-action="Index">Изгодно Купи</a></h1>
            </div>
            <!---->
            <div class="top-nav">
                <ul class="memenu skyblue">
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                    <li class="grid">
                        <a href="#">Категории</a>
                        <div class="mepanel">
                            @await Html.PartialAsync("_CategoriesMenuPartial")
                        </div>
                    </li>
                @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
                <!---->
            @await Html.PartialAsync("_ShoppingCartPartial")
                
                <!---->
            </div>
        <div class="clearfix"> </div>
    </div>
        @RenderBody()

        @*<hr />*@
    <!---->
    <div class="subscribe">
        <div class="container">
            <h3>Aбонирай се за бюлетина на Изгодно Купи</h3>
            <form>
                <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                <input type="submit" value="Абонирам се!">
            </form>
        </div>
    </div>
    <!---->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 about-us">
                    <h3>Ние сме</h3>
                    <p>Млад и енергичен екип. Винаги осигуряваме максимално пълно и ефикасно обслужване на нашите клиенти, които са винаги в центъра на нашето внимание.
</p>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3>Информация</h3>
                    <ul class="nav-bottom">
                        <li><a asp-area="" asp-controller="Home" asp-action="TermAndConditions">Условия за ползване</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Shipping">Доставка</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Payment">Плащане</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="ForOur">За Нас</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3>Моят профил</h3>
                    <ul class="nav-bottom">
                        <li><a asp-area="" asp-controller="Manage" asp-action="Index">Вход</a></li>
                        <li><a asp-area="" asp-controller="Manage" asp-action="Index">Профил</a></li>
                        <li class="grid"><a asp-area="" asp-controller="Home" asp-action="Contact">Контакти</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3>Категории</h3>
                    <ul class="nav-bottom">
                        <li><a asp-controller="Product" asp-action="ByCategory" asp-route-id="2fac673d-50b5-4bd1-b97e-fd0e669bfa44">Лаптопи</a></li>
                        <li><a asp-controller="Product" asp-action="ByCategory" asp-route-id="e53c5baa-5827-43e3-bbb1-0d7930f799be">Смартфони</a></li>
                        <li><a asp-controller="Product" asp-action="ByCategory" asp-route-id="22ff32c6-b59b-4229-8fd9-4085b6673406">Телевизори</a></li>
                        <li><a asp-controller="Product" asp-action="ByCategory" asp-route-id="1bcf0e43-40d6-4c73-a6ce-07fc7f41f4c8">Фотоапарати</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="copywrite">
        <div class="container">
            <div class="copy">
                <p>&copy; @DateTime.Now.Year - IzgodnoKupi | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <div class="social">
                <a href="#"><i class="facebook"></i></a>
                <a href="#"><i class="twitter"></i></a>
                <a href="#"><i class="dribble"></i></a>
                <a href="#"><i class="google"></i></a>
                <a href="#"><i class="youtube"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/lightingTheme/imagezoom.js" asp-append-version="true"></script>
        <script src="~/js/lightingTheme/jquery.flexisel.js" asp-append-version="true"></script>
        <script src="~/js/lightingTheme/jquery.flexslider.js" asp-append-version="true"></script>
        <script src="~/js/lightingTheme/jquery.jscrollpane.min.js" asp-append-version="true"></script>
        <script src="~/js/lightingTheme/jquery-ui.min.js" asp-append-version="true"></script>
        <script src="~/js/lightingTheme/memenu.js" asp-append-version="true"></script>
        <script src="~/js/lightingTheme/responsiveslides.min.js" asp-append-version="true"></script>
        @*<script src="~/js/lightingTheme/simpleCart.min.js" asp-append-version="true"></script>*@
        <script type="text/javascript" src="~/js/lightingTheme/rmodal.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.4/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
        <script src="~/js/theme.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
