@using IzgodnoKupi.Web.Models.CategoryViewModels
@model CategoryViewModel

<h4 class="col-md-offset-2">Категория @Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
          <dl class="dl-horizontal">
            <div class="form-group">
                    <dt>
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                
            </div>
            <div class="form-group">
                <dt>
                    <label asp-for="Name" class="control-label"></label>
                </dt>
                <dd>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </dd>
            </div>
            <div class="form-group col-md-offset-2">
                    <dt>
                        <label asp-for="ShowOnHomePage" class="control-label"></label>
                    </dt>
                <div class="checkbox">
                    <dd>
                        <input asp-for="ShowOnHomePage" />
                        <span asp-validation-for="ShowOnHomePage" class="text-danger"></span>
                    </dd>
                </div>
            </div>
           </dl>
            <div class="form-group col-md-offset-2">
                <input type="submit" value="Запиши" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Към списъка</a>
            </div>
        </form>
    </div>
</div>