@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager


<div class="login_sec">
    <div class="container">
        <ol class="breadcrumb">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
            <li class="active">Вход</li>
        </ol>
        <h2>Вход</h2>
        <div class="col-md-6 log">
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <h5><label asp-for="Email"></label></h5>
                    <input asp-for="Email" type="text" value="">
                    @*<span asp-validation-for="Email" class="text-danger"></span>*@

                    <h5><label asp-for="Password"></label></h5>
                    <input asp-for="Password" type="password" value="">
                    @*<span asp-validation-for="Password" class="text-danger"></span>*@

                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>

                    <input type="submit" value="Вход">

                    <a class="acount-btn" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Създай акаунт</a>
                    <div class="form-group">
                        <p>
                            <a asp-action="ForgotPassword">Забравена парола?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>

        <div class="clearfix"></div>
    </div>
</div>