@{
    ViewData["Title"] = "Промяна на паролата";
}

<h2>@ViewData["Title"]</h2>
<p>
    Вашата парола е променена успешно. Вече може да се впишете с новата парола <a asp-action="Login">Вход</a>.
</p>
