<section>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Начало</a></li>
            <li class="active">За Нас</li>
        </ol>
        <!--start Term and Conditions-->
        <h3 class="text-center">Данни за фирмата</h3>
        <div class="section group">
            <pre class="term-text">
   ИЗГОДНО КУПИ – “Кеивс Компютърс” ООД е търговско дружество, регистрирано според изискванията на българското законодателство. Адресът на дружеството е гр. Луковит, ул. Христо Ботев 13, ЕИК: 200079220, ДДС номер: BG200079220, МОЛ: Йотко Йотов
   Фирмата е създадена през 2009г  и бързо се налага в пазара на малкия град Луковит. Отличава се с компетентни служители и перфектен сервиз. С развитието на онлайн търговията се включва със сайта www.cavescomputers.com, а вече и с www.izgodnokupi.com.
   Политиката на компанията, свързана с постоянни иновации и проактивно поведение към пълно задоволяване на клиентите и техните очаквания.
Цели:
- Да създаваме и поддържаме високи стандарти в бизнеса.
- Да осигурим максимално пълно и ефикасно обслужване на нашите клиенти, които са винаги в центъра на нашето внимание.
- Почтеност, откритост и честност във всички бизнес дейности. 
- Посветеност и отдаденост на това, което правим.
 
Ценности:
- Дългосрочни перспективи – ясна и реална дългосрочна програма за развитие на компанията.
- Отговорни взаимоотношения – инвестираме в развитието на хората.
- Партньорство – двупосочно партньорство, което стимулира обвързаността, взаимното уважение и подкрепа.
- Ориентация към клиента – удовлетворяване на желанията и неговите очаквания.
- Независимост, гъвкавост, обективност и отговорност при вземане на решенията.
- Подкрепяме благородни каузи и сме отговорен член на обществото.
 
Компанията е:
- Фокусирана върху клиента.
- Работеща в партньорство и равнопоставеност с всички социални групи.
- Стремяща се към постигане на високо качество на обслужване.
- Целяща финансова ефективност.
- Въвеждаща нови продукти и услуги, които отговарят на динамиката на пазара.
- Търсеща прозрачност в действията и желание за усъвършенстване.


            </pre>
        </div>
    </div>
</section>