@using IzgodnoKupi.Web.Models.ProductViewModels
@using IzgodnoKupi.Web.Models.CategoryViewModels

@{
    var products = ViewData["products"] as List<PreviewProductViewModel>;
    //var biggestDiscountProducts = ViewData["biggestDiscountProducts"] as List<PreviewProductViewModel>;
    ViewData["Title"] = "Начало";
    var categories = ViewData["categories"] as List<CategoriesNavigationViewModel>;
}

<div class="product-model">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Начало</a></li>
        </ol>
        <h2></h2>
        <div class="col-md-9 product-model-sec">
            <div class="col-md-12">
                <!-- pager -->
               
            </div>
            @Html.Partial("_ProductPreviewPartial", products)
            <div class="col-md-12">
               
            </div>
        </div>

        <div class="rsidebar span_1_of_left">
            <section class="sky-form">
                <div class="product_right">
                    <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Категории</h4>
                    <div class="tab1">
                        <ul class="place">
                            <li class="sort">Компютри и периферия</li>
                            <li class="by"><img src="/images/do.png" alt=""></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <div class="single-bottom">
                            @foreach (var category in categories)
                            {
                                <a asp-controller="Product" asp-action="ByCategory" asp-route-id="@category.Id"><p>@category.Name</p></a>
                            }
                        </div>
                    </div>

            </section>
            <!---->

        </div>
    </div>
</div>
</div>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ProductPageScriptPartial");}
}