<section>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Начало</a></li>
            <li class="active">Плащане</li>
        </ol>
        <!--start Term and Conditions-->
        <h3 class="text-center">Плащане и Фактуриране</h3>
        <div class="section group">
            <pre class="term-text">
    Цените на стоките и услугите са крайни и включват ДДС, както и всички други данъци и такси, предвидени в действащото законодателство.
    Цената и начинът на плащане са посочени във всяка поръчка.
    Обикновено начините на плащане, които предлага ИЗГОДНО КУПИ са: в брой в офиса на ИЗГОДНО КУПИ и  с наложен платеж при доставка от куриер. 
    ИЗГОДНО КУПИ издава фактура или касов бон за всяко плащане по поръчка, чрез която клиентът си е купил стока и/или услуга. Клиентът се съгласява да получи фактурата/касовия бон физически заедно със стоката, както и по електронен път на e-mail, посочен от клиента в акаунта му или чрез качването ѝ в самия акаунт.
    Ако клиентът желае фактура, е длъжен да предостави цялата необходима информация в съответствие с действащото законодателство за издаването ѝ. В противен случай ИЗГОДНО КУПИ издава Касов бон.
    За правилното съставяне на фактура, клиентът е длъжен да актуализира данните в акаунта си. Той е длъжен да прегледа информацията, посочена в поръчката, за да се убеди, че тя е пълна, вярна и точна. Клиентът носи цялата отговорност за верността на предоставените данни.
    Клиентът се съгласява да извърши плащане съгласно избрания от него начин и съгласно договореното при сключване на договора от разстояние и според условията между клиента и съответния доставчик на платежни услуги.
    Клиентът се съгласява, че продавачът има право да изисква и приема авансово плащане за сключените с клиента договори за покупко-продажба на стоки и тяхната доставка.
    В случай, че ИЗГОДНО КУПИ не получи плащане съгласно избрания от клиента начин, продавачът има право да счита поръчката за невалидна.

            </pre>
        </div>
    </div>
</section>