<section>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Начало</a></li>
            <li class="active">Доставка</li>
        </ol>
        <!--start Term and Conditions-->
        <h3 class="text-center">Доставка</h3>
        <div class="section group">
            <pre class="term-text">
    Продавачът доставя поръчаните стоки чрез куриерска фирма на посочен от клиента адрес, чрез собствени средства на посочен от клиента адрес, на посочен от клиента офис на куриерската фирма или в офиса на ИЗГОДНО КУПИ.
    Продавачът извършва доставката на стоките само на територията на Република България.
    Предлаганите стоки са съпроводени с необходимите документи и опаковка.
    Времето за доставка обикновено е средно от 3 до 5 работни дни за стоки, налични в централен склад,. Ако продуктът не може да бъде доставен ИЗГОДНО КУПИ се задължава да информира за това клиента.
    Доставката на поръчки, съдържащи стоки на стойност над 100лв (с ДДС) е безплатна за клиента, ако стоките не са в промоция или клиента не ползва други намаления или отстъпки. Като във всички случаи преди завършването на поръчката ИЗГОДНО КУПИ ще посочи на сайта стойността на допълнителните разходи, които клиентът трябва да заплати (ако има такива).
    Доставката в централния офис на ИЗГОДНО КУПИ е безплатна!
    Детайлите по отношение на доставката на стоките не представляват договорно задължение от страна на продавача за извършването на съответната доставка на конкретна дата. Съответно клиентът няма право на каквото и да е обезщетение в случай, че датата, на която е било обявено от продавача, че ще достави стоката не е спазена.
    Доставките се извършват от понеделник до петък между 09.00 и 18.00 часа и събота между 09.00 и 13.00 часа, с изключение на празнични дни. Изключение може да има за населени места със специален график на обслужване.
    При доставка с куриер в деня на доставка ще получите SMS от куриера, че имате пратка за получаване. Ако не бъдете намерен на уречените ден и място и няма друго лице, което да приеме пратката вместо Вас, куриерът оставя стикер, че е идвал и координати, на които да се свържете с него. Пратката се връща в офиса на куриера до поискване от Ваша страна. Ако и на следващия ден не се свържете с нас или куриерската фирма, приемаме поръчката за анулирана. Клиентът има възможност да отвори и прегледа съдържанието на пратката преди да плати на куриера.
ИЗГОДНО КУПИ или представител на куриерската фирма се ангажират да уведомят клиента по телефона или имейл, ако се появят внезапни обстоятелства, възпрепятстващи навременното изпълнение на доставката.
    Всички стоки са застраховани до момента на получаване и пристигат с документи за гаранция, касова бележка (или фактура, ако има изискана такава).
    Клиентът се съгласява, че удостоверяването за получената стока може да се извърши от лице, за което според обстоятелствата може да се направи извод, че ще предаде информацията на клиента - страна по договора.
    Клиентът трябва да прегледа стоката в момента на доставката и предаването й от продавача или куриера и, ако не отговаря на изискванията, да уведоми за това незабавно продавача.
    Рискът от загуба или повреда на закупените продукти преминава върху клиента в момента, в който клиентът или посочено от него трето лице, различно от избраната от ИЗГОДНО КУПИ компания за куриерски услуги приеме стоките.

            </pre>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ModListScriptPartial");}
}