

<section>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Начало</a></li>
            <li class="active">Условия за ползване</li>
        </ol>
        <!--start Term and Conditions-->
        <h3 class="text-center">Условия за ползване</h3>
        <div class="section group">
            <pre class="term-text">
1. ПОЛИТИКА ЗА ПРОДАЖБИ ПРЕЗ ИНТЕРНЕТ
 
Достъпът до сайта за регистриране на акаунт и създаване на поръчка е позволен на всеки клиент.
ИЗГОДНО КУПИ може да ограничи достъпа до поръчки, стоки, услуги, платежни методи и други на който и да е клиент, по свое усмотрение без предварително предупреждение или известие. ИЗГОДНО КУПИ не носи отговорност за каквито и да е вреди, които клиентът търпи или може да претърпи в резултат на това решение.
Всеки клиент може да има само един акаунт на сайта. Не се допуска един акаунт да се споделя между няколко клиенти, като отговорността за всички вреди от такова споделяне се носи от клиента.
Всички цени на сайта са обявени в лева (BGN) с включено ДДС.
Цената на продукт не включва цената за доставка и дължимите такси при плащане. Като във всички случаи преди завършването на поръчката ИЗГОДНО КУПИ ще посочи на сайта стойността на допълнителните разходи, които клиентът трябва да заплати.
Възможно е след закупуването на стока или услуга ИЗГОДНО КУПИ да поиска по имейл на клиента Рецензия, относно закупената стока или услуга.
Цените на сайта, задраскани с линия, посочват старата цена на стоката в магазина. Тези цени имат информативен характер и нямат юридическа стойност.
При представянето на стоките и услугите ИЗГОДНО КУПИ си запазва правото да използва и други продукти (аксесоари и други), които може да не са включени в цената на продукта.
ИЗГОДНО КУПИ си запазва правото да променя цените на стоките и услугите по всяко време, без предварително да известява за това клиента.
Цената на продуктите и услугите е тази, която е посочена в момента на поръчката в рамките на складовите наличности и/или за периода на промоционалния период, ако има такъв.
ИЗГОДНО КУПИ не гарантира наличността на никой продукт и/или услуга, който може да бъде закупен от сайта.
ИЗГОДНО КУПИ може по своя преценка да издава кодове за отстъпка. Стойността, обхвата и периода на валидност се определят едностранно от ИЗГОДНО КУПИ.
 
  
2. ПОРЪЧКА 
 
Клиентът може да прави поръчка на сайта чрез добавянето на предлаганите стоки и услуги в количката за покупки, следвайки указанията и стъпките в сайта, за да завърши и изпрати поръчката.
Завършвайки своята поръчка, клиентът се съгласява, че цялата предоставена информация, необходима за процеса на закупуване е вярна и пълна в момента на извършване на поръчката.
Незавършените поръчки не водят до регистриране на поръчка.
Стоките и услугите са достъпни в рамките на стоковите наличности и могат да бъдат потвърдени или отказани в зависимост от наличностите.
Наличността на всеки продукт е обозначена чрез легенда за удобство на клиента. ИЗГОДНО КУПИ си запазва правото наличността и сроковете на доставка да се доуточняват по телефона или e-mail, в момента на обработка на поръчката. ИЗГОДНО КУПИ не носи отговорност за спазване на сроковете на доставка за продуктите, които са обозначени, че са само чрез заявка или с доставка за определен период и не са налични в склада на фирмата. 
  До момента на доставка продавачът може да откаже да изпълни направена поръчка, като предварително уведоми за това клиента, без никакви последващи отговорности или задължения за всяка от страните. Тогава доставчикът е длъжен да възстанови платените от клиента суми, ако има такива, без това да доведе до някакви допълнителни разходи за клиента.
С изпращането на поръчката клиентът дава право на продавача да се свърже с него пo всякакъв възможен начин, когато това се налага във връзка с направената поръчка, но не само.
Клиентът се ангажира да изрази съгласието си за направената поръчка и да потвърди всички детайли по нея, след като оператор на ИЗГОДНО КУПИ се свърже с него по телефон или e-mail.
Клиентът може да откаже направена поръчка до момента на доставката на стоката. Като това може да стане през личния акаунт от момента на регистрация на поръчката до започването на изпълнението ѝ и/или на телефон: +359 878 976 752 или на имейл адрес: caves.computers@gmail.com до момента на получаване на стоката.
 
  
3. ВРЪЩАНЕ НА СТОКИ И ОТКАЗВАНЕ ОТ ДОГОВОРА ОТ РАЗСТОЯНИЕ 
 
Право на отказ от сключения договор имат само тези клиенти, които са Потребители по смисъла на Закона за защита на потребителите.
Съгласно договора за дистанционна продажба можете да върнете продукта при ненарушен търговски вид без обективна причина за рекламация в срок от 14 дни, считано от датата на получаване на стоката или от датата на сключване на договора - при договор за услуги. Когато клиентът е поръчал много стоки с една поръчка, които се доставят отделно, считано от датата, на която клиентът приеме последната стока. Като транспортните разходи са задължение на клиента.
Също така можете да изискате връщане на стоката при следните ситуации:
•	Наличие на несъответствие с описанието, което сте прочели на сайта. В този случай имате право на избор между възстановяване на сумата или замяна на стоката с нова и корекция на разликата в цената. Разходите за връщане на стоката се поемат от ИЗГОДНО КУПИ.
 
•	Нарушена опаковка или неработещ продукт до 24 часа от получаването. Можете да изискате замяна на стоката още при получаването, ако установите, че е в лош търговски вид или до 24 часа след получаването, ако не работи коректно. В този случай разходите по връщане на продукта се поемат от ИЗГОДНО КУПИ.
 
•	Объркана стока при доставката. Ако установите, че стоката, която Ви доставя куриера е различна от тази, която сте поръчали, можете да я върнете на куриера, за да бъде изпратена коректна. Разходите за доставка се поемат от ИЗГОДНО КУПИ.
Клиентът е задължен да информира ИЗГОДНО КУПИ за своето намерение да върне закупените стоки или да се откаже от договора от разстояние, като заяви решението си недвусмислено чрез всякакви средства за писмена комуникация (e-mail или други) в рамките на посочения срок. За да упражни правото си на отказ, клиентът може да използва стандартния формуляр за отказ.
При проблем със закупените стоки можете да се свържете с нас на телефон: +359 878976752 или на имейл адрес: caves.computers@gmail.com
В случай, че клиентът упражни правото си на отказ, доставчикът е задължен да му възстанови в пълен размер платените суми не по-късно от 14 календарни дни, считано от датата, на която клиентът е упражнил правото си на отказ от сключения договор. От сумата, която потребителят е платил по договора, се удържат разходите за връщане на стоката, освен ако клиентът е върнал стоката за своя сметка и е уведомил за това доставчика.
Продавачът има право да забави възстановяването на сумата до получаването на продадените стоки.
Възстановяването на сумата се извършва по банков път или чрез наложен платеж в офиса на куриера, или на каса в централния офис на ИЗГОДНО КУПИ.
Когато клиентът упражни правото си на отказ от договора от разстояние, той трябва да изпрати или предаде стоките обратно на ИЗГОДНО КУПИ без неоправдано забавяне и не по-късно от 14 дни, считано от датата, на която потребителят е съобщил за решението си да се откаже от договора. Крайният срок се смята за спазен, ако потребителят изпрати или предаде стоките обратно на ИЗГОДНО КУПИ преди изтичането на 14 дневния срок.
Клиентът носи отговорност само за намалената стойност на стоките, причинена от изпробването им, различно от необходимото, за да установи естеството, характеристиките и доброто им функциониране.
Клиентът се задължава да съхранява получените от доставчика стоки, тяхното качество и безопасност до връщането им.
В случай, че поръчана и предварително платена стока и/или услуга от клиента не може да бъде доставена от продавача, то последният ще информира клиента за това и ще възстанови платената сума, в срок от 14 дни от датата, на която продавачът е установил този факт или от датата, на която клиентът е изразил желанието си за прекратяване на договора.

Правото на отказ не се прилага в следните случаи:
•	за стоки и услуги, чиято цена зависи от колебанията на финансовите пазари, които продавачът не е в състояние да контролира;
 
•	за стоки, изработени и/или преработени съобразно изискванията на клиента или по негова индивидуална поръчка;
 
•	за стоки, които поради своето естество са потребими или не могат да бъдат върнати или подлежат на бързо разваляне, или има опасност от влошаване на качествените им характеристики;
 
•	за консумативи, батерии, канцеларски материали, разпечатани от клиента;
 
•	за принтери с разпечатани консумативи от клиента;
 
•	за аудио и видеозаписи или програмни продукти, разпечатани и/или активирани и/или регистрирани от потребителя;
 
•	за стоки, чиято гаранция е била регистрирана в сайта на производителя;
 
•	когато клиентът изрично е поискал от продавача да го посети в дома му с цел извършване на неотложни дейности за ремонт или поддръжка. Когато при такова посещение продавачът предоставя и други услуги в допълнение към тези, поискани от клиента, или достави стоки, различни от резервните части, необходими за извършване на ремонта или на поддръжката, правото на отказ се прилага за тези допълнителни услуги или стоки;
 
•	когато не е изпълнено условието при поръчани повече от една бройка от дадена марка и модел стока, опаковката само на един продукт да е разпечатана, а останалите бъдат върнати на продавача запечатани;
 
•	при предоставяне на услуги, при които услугата е предоставена напълно и изпълнението й е започнало с изричното предварително съгласие на потребителя и потвърждение от негова страна, че знае, че ще загуби правото си на отказ, след като договорът бъде изпълнен изцяло от продавача;
 
•	при предоставяне на цифрово съдържание, което не се доставя на материален носител, когато изпълнението е започнало с изричното съгласие на потребителя, който е потвърдил, че знае, че по този начин ще загуби правото си на отказ;
 
•	за стоки, които са разпечатани след доставката им и не могат да бъдат върнати поради съображения, свързани с хигиената или защита на здравето;
 
•	за стоки, които след като са били доставени и поради естество им са се смесили с други стоки, от които не могат да бъдат отделени;
 
•	предоставяне на услуги, транспорт на стоки, отдаване под наем, развлекателни дейности, ако договорът предвижда конкретна дата или срок за изпълнение.
 
Условия за връщане или замяна:
•	Всички стоки трябва да бъдат в същото състояние като при доставката, без наранявания, в изряден търговски вид и пълна окомплектовка с прилежащите аксесоари и документи;
•	Стоката трябва да бъде в оригинална опаковка и пълна окомплектовка: аксесоари, дискове, ръководства, транспортна опаковка, оригинална гаранционна карта и всички документи, с които е била доставена;
•	Стоката трябва да бъде без следи от употреба, драскотини, наранявания, охлузвания, със защитни найлонови покрития, ако е имало такива и други външни белези;
•	Опаковката трябва да е здрава, да не е разкъсана, надраскана или повредена;
•	Ако стоката е била придружена с подарък, трябва да се върне и подаръка;
•	Ако стоката е с модифициран или изтрит софтуер, следва да бъде възстановен до фабричния инсталационен вид.
Ако продуктът бъде върнат в състояние, в което не може да бъде продаден като нов, си запазваме правото да изискаме такса за привеждането му в началния му вид (ако е възможно) или за покриване разликата в цената, получила се при продажбата на продукта като втора употреба, или по избор на клиента да му доставим продукта обратно за негова сметка.

            </pre>
        </div>
    </div>
</section>