.location {
    height: 200px;
    box-shadow: 0px 0px 5px 5px lightgrey;
}
.item-img {
    height: 170px;
}

.arrival-info {
    height: 45%;
}

/*.feature-grid {
    height:350px;
}*/
.productName {
    width: 25%;
}
.img-similar {
    width: 150px;
    height: 150px;
}

.closeOrderItem {
    background: url('./images/close_1.png') no-repeat 0px 0px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0px;
    top: 0px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

input.check-out {
    background: green;
    padding: 10px 20px;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 600;
    text-align: center;
    margin: 3em 0;
}

input.check-out:hover {
    background: #ed645c;
    color: #fff;
    cursor: pointer;
}

.oder-complete-header {
    color: #ed645c;
    font-weight: bold;
}

.oder-complete-text {
    color: #6FC9EB;

}
    /* The container CheckBox*/
    .containerCheckBox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

/* Hide the browser's default checkbox */
.containerCheckBox input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #6FC9EB;
}

/* On mouse-over, add a grey background color */
.containerCheckBox:hover input ~ .checkmark {
    background-color: rgb(164, 221, 241);
}

/* When the checkbox is checked, add a blue background */
.containerCheckBox input:checked ~ .checkmark {
    background-color: #ed645c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheckBox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheckBox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.term-text {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.product-name {
    width: 60%;
}

.order-total-label {
    font-size: 1.3em;
}

.order-total-digit {
    font-size: 1.3em;
    font-weight: 600;
    color: black;
}

.ofr {
    height: 30px;
}

.item-name {
    height: 35px;
}

.category-sync {
    margin-bottom: 10px;
}

.simpleCart_shelfItem >.single-para {
    position: relative;
}

.single-para>.old-price {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.8em;
}

.img-discount {
    position: absolute;
    margin-left: 135px;
    z-index: 1;
    width: 100px;
}

.single-para>span.detail-discount {
    position: absolute;
    margin-top: 7px;
    margin-left: 175px;
    z-index: 2;
    color: white;
    font-size: 2em;
    font-weight: 700;
}

.product-unavailable {
    font-size: 1.4em;
    font-weight: 600;
    color: red;
}

.cart-item-unavailable {
    background-color: #caccce;
}

.share-button-details {
    position: absolute;
    margin-top: 20px;
    /*margin-left: -15px;*/
    margin-bottom: 20px;
}


/*Search Bar*/
#searchResult {
    position: absolute;
    z-index: 2000;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

    .icon-addon:after,
    .icon-addon:before {
        display: table;
        content: " ";
    }

    .icon-addon:after {
        clear: both;
    }

    .icon-addon.addon-md .glyphicon,
    .icon-addon .glyphicon,
    .icon-addon.addon-md .fa,
    .icon-addon .fa {
        position: absolute;
        z-index: 2;
        left: 10px;
        font-size: 14px;
        width: 20px;
        margin-left: -2.5px;
        text-align: center;
        padding: 10px 0;
        top: 1px
    }

    .icon-addon.addon-lg .form-control {
        line-height: 1.33;
        height: 46px;
        font-size: 18px;
        padding: 10px 16px 10px 40px;
    }

    .icon-addon.addon-sm .form-control {
        height: 30px;
        padding: 5px 10px 5px 28px;
        font-size: 12px;
        line-height: 1.5;
    }

    .icon-addon.addon-lg .fa,
    .icon-addon.addon-lg .glyphicon {
        font-size: 18px;
        margin-left: 0;
        left: 11px;
        top: 4px;
    }

    .icon-addon.addon-md .form-control,
    .icon-addon .form-control {
        padding-left: 30px;
        float: left;
        font-weight: normal;
        box-shadow: 0px 0px 17px 0px #00a0dc;
    }

    .icon-addon.addon-sm .fa,
    .icon-addon.addon-sm .glyphicon {
        margin-left: 0;
        font-size: 12px;
        left: 5px;
        top: -1px
    }

    .icon-addon .form-control:focus + .glyphicon,
    .icon-addon:hover .glyphicon,
    .icon-addon .form-control:focus + .fa,
    .icon-addon:hover .fa {
        color: #2580db;
    }