@using IzgodnoKupi.Web.Models.CategoryViewModels
@model IEnumerable<CategoryViewModel>


<h1 class="text-center">Синхронизиране по категории</h1>
<div class="col-md-12">
        @foreach (var category in @Model)
        {
            @Html.Partial("_CategorySyncPartial", category)
        }
</div>
<hr>
<div class="text-center">
    <a class="btn btn-danger" asp-controller="StantekCrowler" asp-action="GetAllProducts">Синхронизиране на всичко</a>
</div>