@using IzgodnoKupi.Web.Models.CategoryViewModels
@model IEnumerable<CategoriesNavigationViewModel>

@*@Html.Partial("_StatusMessage", ViewBag.StatusMessage)*@
<h1 class="text-center">Импорт по Главни категории</h1>
<hr>
<div class="col-md-12">
        @foreach (var mainCategory in @Model)
        {
            <div class="col-md-4 col-sm-6 category-sync">
                <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromMainCategory" asp-route-name="@mainCategory.Name">@mainCategory.Name</a>
            </div>
        }
</div>
<hr>