<h1 class="text-center">Solytron</h1>
@*<div class="text-center">
    <a class="btn btn-danger" asp-area="Admin" asp-controller="SolytronXml" asp-action="GetMainCategories">Main Categories</a>
</div>*@
<hr>
<div class="col-md-12">
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromSoftware">Софтуер</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromComputers">Компютри</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromServers">Сървъри</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromTabletsAndSmartphones">Таблети и Смартфони</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromStorages">Storages</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromComponents">Компоненти</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromDisplays">Дисплеи</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromProjectors">Видеопрожектори</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromTV">Телевизори</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromPrinters">Принтери</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromScanners">Скенери</a>
    </div>
    @*<div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromCartridges">Консумативи</a>
    </div>*@
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromMultimedia">Мултимедия</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromAccessoary">Аксесоари</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromAudioVideo">Аудио и Видео</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromCommunication">Комуникации</a>
    </div>
    <div class="col-md-4 col-sm-6 category-sync">
        <a class="btn btn-default" asp-controller="SolytronXml" asp-action="GetProductsFromVideoCams">Видеонаблюдение</a>
    </div>
</div>
<hr>