<h1 class="text-center">Solytron</h1>
<div class="text-center">
    <a class="btn btn-danger" asp-area="Admin" asp-controller="SolytronXml" asp-action="GetProducts">Get Products</a>
    @*<a class="btn btn-danger" asp-area="Admin" asp-controller="SolytronXml" asp-action="">Export with Linq XML</a>*@
</div>