@using IzgodnoKupi.Web.Models.CategoryViewModels
@model CategoryViewModel

<h4 class="text-center">Създаване на категория</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Category" asp-action="AddCategory" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label>Име</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Име" value="">
            <p><span asp-validation-for="Name" class="text-danger"></span></p>
            @*<p>@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })</p>*@

            <div class="checkbox">
                <label>
                    <input asp-for="ShowOnHomePage" /> @Html.DisplayNameFor(model => model.ShowOnHomePage)
                </label>
            </div>
            <p><span asp-validation-for="ShowOnHomePage" class="text-danger"></span></p>

            <input type="submit" class="btn btn-success" value="Добави" />
        </form>
    </div>
</div>